<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Serving html</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
      <% include partials/header.ejs %>
      <h1>Welcome Mano</h1>
      <p>Here are your hobbies listed</p>
      <ul>
        <% hobbies.forEach(function(item){ %>
            <li><%= item %></li>
        <% }) %>
      </ul>
      <% include partials/footer.ejs %>
  </body>
</html>
